
    <div class="min-h-screen flex items-center justify-center bg-gray-100">
        <div class="bg-white p-8 rounded shadow-md max-w-md w-full">
            <h1 class="text-3xl font-bold mb-6 text-center text-green-600 shadow-md p-4 rounded-lg bg-green-100">
                Ajouter une rencontre
            </h1>
            
            {{ form_errors(matchForm) }}
            <script src="https://cdn.tailwindcss.com"></script>
    
            {{ form_start(matchForm, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="grid grid-cols-2 gap-4">
                <div>
                    {{ form_row(matchForm.competition, {
                        'label': 'Compétition',
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Nom du tournoi',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
                <div>
                    {{ form_row(matchForm.saison, {
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Saison',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
                <div>
                    {{ form_row(matchForm.Adversaire, {
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Adversaire',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
                <div>
                    {{ form_row(matchForm.classement, {
                        'label': 'Classement',
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Classement',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 mt-4">
                <div>
                    {{ form_row(matchForm.Type, {
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Type de rencontre',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
                <div>
                    {{ form_row(matchForm.resultat, {
                        'label': 'Résultat',
                        'attr': {
                            'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                            'placeholder': 'Résultat',
                        },
                        'label_attr': {
                            'class': 'block text-gray-700 text-sm font-bold mb-2'
                        }
                    }) }}
                </div>
            </div>
            <div class="mt-4">
                {{ form_row(matchForm.Score, {
                    'attr': {
                        'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                        'placeholder': 'Score',
                    },
                    'label_attr': {
                        'class': 'block text-gray-700 text-sm font-bold mb-2'
                    }
                }) }}
            </div>
            <div class="mt-4">
                {{ form_row(matchForm.date, {
                    'attr': {
                        'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                        'placeholder': 'Date',
                    },
                    'label_attr': {
                        'class': 'block text-gray-700 text-sm font-bold mb-2'
                    }
                }) }}
            </div>
            <div class="mt-6">
                <button type="submit" class="w-full p-3 bg-green-800 text-white rounded-md hover:bg-green-600">Ajouter</button>
            </div>
            {{ form_end(matchForm) }}
        </div>
    </div>
    