{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- contenu -->

  <main>

    <div class="mx-auto max-w-6xl mb-5 grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-4">

      <!-- 1er block - Carte de profil -->
      <div class="pt-10 mt-10 row-span-2 bg-white shadow-lg rounded-xl md:ml-5">

        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center">
              <div class="relative">
                <img
                  src="https://github.com/creativetimofficial/soft-ui-dashboard-tailwind/blob/main/build/assets/img/team-2.jpg?raw=true"
                  class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]" />
              </div>
            </div>
            <div class="w-full text-center mt-20">
              <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                <div class="p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">{{app.user.ranking}}</span>
                  <span class="text-sm text-slate-400">Classement</span>
                </div>
                <div class="p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">-</span>
                  <span class="text-sm text-slate-400">Top Class.</span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center mt-2">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">{{app.user.firstname}} {{app.user.name}}</h3>
            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
              <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>{{app.user.club}}
            </div>
          </div>

          <div class="mt-6 py-6 border-t border-slate-200 text-center">

            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <a href="{{ path('edit_profil') }}" class="font-normal text-slate-700 hover:text-slate-400">Editer Profil</a>
              </div>
            </div>

          </div>

          <div class="bg-gray-200 p-4 mb-5 rounded-lg shadow-md">
            <h2 class="text-xl font-bold mb-2">Prochaine Compétition</h2>
            <div class="flex flex-col">
                <p class="text-gray-700"><span class="font-bold">Nom du tournoi:</span> Wimbledon</p>
                <p class="text-gray-700"><span class="font-bold">Date:</span> 15 Juillet 2024</p>
                <p class="text-gray-700"><span class="font-bold">Type:</span> Grand Chelem</p>
            </div>
        </div>
        </div>
      </div>

      <!-- 2eme bloc - Stats -->
      <div class="md:col-span-1 shadow-lg rounded-xl bg-white shadow-lg md:mt-10">

        <div class="mx-auto max-w-7xl px-4 py-6">
          <h2 class="tracking-tight text-2xl font-bold"> Stats </h2>
        </div>

        <!-- circular bar  -->
        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
        <div class="py-20 px-10 bg-gray-100 rounded-b-xl">
          <div>
            <div class="flex items-center flex-wrap px-10 bg-white shadow-xl rounded-2xl h-20"
              x-data="{ circumference: 50 * 2 * Math.PI, percent: {{pourcentage}} }">
              <div class="flex items-center justify-center -m-6 overflow-hidden bg-white rounded-full">
                <svg class="w-32 h-32 transform translate-x-1 translate-y-1" x-cloak aria-hidden="true">
                  <circle class="text-gray-300" stroke-width="10" stroke="currentColor" fill="transparent" r="50"
                    cx="60" cy="60" />
                  <circle class="text-blue-600" stroke-width="10" :stroke-dasharray="circumference"
                    :stroke-dashoffset="circumference - percent / 100 * circumference" stroke-linecap="round"
                    stroke="currentColor" fill="transparent" r="50" cx="60" cy="60" />
                </svg>
                <span class="absolute text-2xl text-blue-700" x-text="`${percent}%`"></span>
              </div>
              <p class="ml-10 font-medium text-gray-600">% de victoire</p>
            </div>
          </div>

          <div class="text-center mt-12">
            {# Victoire et Défaite sont mis au pluriel au delà de 1 #}
            <p class="text-xl font-medium">{{victoires}} Victoire{{victoires > 1 ? 's' : ''}} - {{défaites}} Défaite{{défaites > 1 ? 's' : ''}}</p>
          </div>

        </div>
      </div>

      <!-- 3eme bloc - dernière rencontre -->
      <div class="md:col-span-1 shadow-lg rounded-xl bg-white shadow-lg">
        
        <div class="mx-auto max-w-7xl px-4 py-6 border-b border-gray-300">
          <h2 class="tracking-tight text-2xl font-bold "> Dernier match </h2>
        </div>
        {% for key in lastMatch %}
        <div class="bg-white p-4 md:mt-10">
          <div class="flex justify-between mb-2">
            <div class="text-gray-600 underline">{{ key.date|date("d/m/Y", "Europe/Paris") }}</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Tournoi :</div>
            <div class="text-gray-800 font-bold">{{key.competition}}</div>
          </div>
          
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Adversaire :</div>
            <div class="text-gray-800 font-bold">{{key.Adversaire}}</div>
          </div>
          
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Classement :</div>
            <div class="text-gray-800 font-bold">{{key.classement}}</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Score :</div>
            <div class="text-gray-800 font-bold">{{key.score}}</div>
          </div>
          <div class="flex justify-between  mb-2">
            <div class="text-gray-600">Résultat :</div>
            <div class="text-green-600 font-bold">{{key.resultat}}</div>
          </div>
          {% endfor %}
        </div>
        
      </div>

    </div>
  </main>
</div>



{% endblock %}