{% extends 'base.html.twig' %} {% block body %}

<div class="justify-center">
  <h1 class="text-3xl text-center font-bold mt-10">Classement</h1>
</div>

{# <div class="ml-5">
  {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <div class="mt-6">
      <button type="submit" class="bg-green-800 text-black rounded-md">Ajouter</button>
  </div>
{{ form_end(form) }} #}



<div class="mx-auto max-w-6xl relative flex flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md mt-10">
  <div class="relative mx-4 mt-4 flex flex-col gap-4 overflow-hidden rounded-none bg-transparent bg-clip-border text-gray-700 shadow-none md:flex-row md:items-center">
    {# <div class="w-max rounded-lg bg-gray-900 p-5 text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        aria-hidden="true"
        class="h-6 w-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3"
        ></path>
      </svg>
    </div> #}
    <div>
      {# <h6 class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
        Classement
      </h6> #}
      <p class="block max-w-sm font-sans text-sm font-normal leading-normal text-gray-700 antialiased">
        Visualisez l'évolution de votre classement sur l'année en cours.
      </p>
    </div>
  </div>
  <div class="pt-6 px-2 pb-0">
    <div id="bar-chart"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
const chartConfig = {
  series: [
    {
      name: "Classement",
      data: [
      // {{ januaryRank[0].value | default('null')}},
        {{ monthlyRanks[1][0].value | default('null') }},
        {{ monthlyRanks[2][0].value | default('null') }},
        {{ monthlyRanks[3][0].value | default('null')}},
        {{ monthlyRanks[4][0].value | default('null') }},
        {{ monthlyRanks[5][0].value | default('null') }},
        {{ monthlyRanks[6][0].value | default('null') }},
        {{ monthlyRanks[7][0].value | default('null') }},
        {{ monthlyRanks[8][0].value | default('null')}},
        {{ monthlyRanks[9][0].value | default('null') }},
        {{ monthlyRanks[10][0].value | default('null') }},
        {{ monthlyRanks[11][0].value | default('null') }},
        {{ monthlyRanks[12][0].value | default('null') }},
      ],
      
    },
  ],
  chart: {
    type: "bar",
    height: 240,
    toolbar: {
      show: false,
    },
  },
  title: {
    show: "Suivi de votre classement",
  },
  dataLabels: {
    enabled: false,
  },
  colors: ["#15803d"],
  plotOptions: {
    bar: {
      columnWidth: "40%",
      borderRadius: 2,
    },
  },
  xaxis: {
    axisTicks: {
      show: false,
    },
    axisBorder: {
      show: false,
    },
    labels: {
      style: {
        colors: "#616161",
        fontSize: "12px",
        fontFamily: "inherit",
        fontWeight: 400,
      },
    },
    categories: [
      "Janvier",
      "Février",
      "Mars",
      "Avril",
      "Mai",
      "Juin",
      "Juillet",
      "Août",
      "Septembre",
      "Octobre",
      "Novembre",
      "Décembre"
    ],
  },
  yaxis: {
    labels: {
      formatter: function (value) {
        const rankings = ["40","30/5", "30/4", "30/3", "30/2", "30/1","30","15/5", "15/4", "15/3", "15/2", "15/1", "15", 
        "5/6", "4/6", "3/6", "2/6", "1/6","0", "-2/6", "-4/6", "-15"
        ];
        return rankings[value - 1]; // Ajuste les valeurs en fonction de ton tableau
      },
      style: {
        colors: "#616161",
        fontSize: "12px",
        fontFamily: "inherit",
        fontWeight: 400,
      },
    },
  },
  grid: {
    show: true,
    borderColor: "#dddddd",
    strokeDashArray: 5,
    xaxis: {
      lines: {
        show: true,
      },
    },
    padding: {
      top: 5,
      right: 20,
    },
  },
  fill: {
    opacity: 0.8,
  },
  tooltip: {
    theme: "dark",
  },
};
 
const chart = new ApexCharts(document.querySelector("#bar-chart"), chartConfig);
 
chart.render();
</script>

{% endblock %}
