<div>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
  
      {% for key in classementList %}
      {% if key.user == app.user %}
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mois', 'Classement'],
          ['Janvier',  {{ key.classJanv is not null ? key.classJanv : 'null' }}],
          ['Février',  {{ key.classFev is not null ? key.classFev : 'null' }}],
          ['Mars',  {{ key.classMar is not null ? key.classMar : 'null' }}],
          ['Avril',  {{ key.classAvr is not null ? key.classAvr : 'null' }}],
          ['Mai',  {{ key.classMai is not null ? key.classMai : 'null' }}],
          ['Juin',  {{ key.classJui is not null ? key.classJui : 'null' }}],
          ['Juillet',  {{ key.classJuil is not null ? key.classJuil : 'null' }}],
          ['Août',  {{ key.classAout is not null ? key.classAout : 'null' }}],
          ['Septembre',  {{ key.classSept is not null ? key.classSept : 'null' }}],
          ['Octobre',  {{ key.classOct is not null ? key.classOct : 'null' }}],
          ['Novembre',  {{ key.classNov is not null ? key.classNov : 'null' }}],
          ['Décembre',  {{ key.classDec is not null ? key.classDec : 'null' }}],
        ]);
      {% endif %}
      {% endfor %}
  
        var options = {
          title: 'Évolution de votre classement',
          legend: { position: 'bottom' },
          vAxis: {
          ticks: [
            {v:0, f:'40'},
            {v:1, f:'30/5'},
            {v:2, f:'30/4'},
            {v:3, f:'30/3'},
            {v:4, f:'30/2'},
            {v:5, f:'30/1'},
            {v:6, f:'30'},
            {v:7, f:'15/5'},
            {v:8, f:'15/4'},
          ] 
          },
        };
  
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
  
        chart.draw(data, options);
      }
    </script>
  </div>
  <div>
    <div id="curve_chart" class="max-w-7xl mx-auto h-screen mt-5 mb-5"></div>
  </div>