

{{ form_start(matchForm) }}
    {{form_row(matchForm.competition)}}
    {{form_row(matchForm.Adversaire)}}
    {{form_row(matchForm.Type)}}
    {{form_row(matchForm.resultat)}}
    {{form_row(matchForm.Score)}}
    {{form_row(matchForm.date)}}
    <button type="submit">Ajouter</button>
{{ form_end(matchForm) }}
