

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<body class="bg-gray-100 min-h-screen flex items-center justify-center ">
    <div class="bg-white p-8 rounded shadow-md max-w-md w-full mx-auto">

        <h2 class="text-2xl font-semibold mb-4">Modification du Profil</h2>

        <form method="POST">

                    {{ form_errors(userForm) }}
                    <script src="https://cdn.tailwindcss.com"></script>
                    {{ form_start(userForm) }}
                    <div class="grid grid-cols-2 gap-4">
                        <div>
                            {{ form_row(userForm.firstname, {
                                'label':'Prénom',
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Entrez votre prénom',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2'
                            }
                            }) }}
                        </div>
                        <div>
                        {{ form_row(userForm.name, {
                            'label':'Nom',
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Entrez votre nom',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2'
                            }
                        }) }}
                        </div>
                        <div>
                            {{ form_row(userForm.imageFile, {
                                'label': 'Image de Profile',
                                    'attr': {
                                        'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                        'placeholder': 'Entrez votre classement',
                                    },
                                    'label_attr': {
                                        'class': 'block text-gray-700 text-sm font-bold mb-2 mt-5'
                                    }
                                }) }}
                            </div>
                        <div>       
                    </div>
                    <div>
                    {{ form_row(userForm.email, {
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Entrez votre email',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2 mt-2'
                            }
                        }) }}
                    </div>
                    <div>
                    {{ form_row(userForm.club, {
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Entrez votre email',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2 mt-2'
                            }
                        }) }}
                    </div>
                    <div>
                    {{ form_row(userForm.licence, {
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'n° de licence',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2 mt-2'
                            }
                        }) }}
                    </div>
                    <div>
                    {{ form_row(userForm.ranking, {
                        'label':'Classement',
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Classement',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2 mt-2'
                            }
                        }) }}
                    </div>
                    {# <div>
                    {{ form_row(userForm.plainPassword, {
                            'label':'Password',
                            'attr': {
                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                'placeholder': 'Entrez votre email',
                            },
                            'label_attr': {
                                'class': 'block text-gray-700 text-sm font-bold mb-2'
                            }
                        }) }}
                    </div> #}
                    
                    <div class="mt-6">
                        <button type="submit" class="w-full p-3 bg-green-800 text-white rounded-md hover:bg-blue-600">Modifier</button>
                    </div>
                {{ form_end(userForm) }}
        </form>
    </div>
</body>





    <!-- Bouton d'inscription -->
    {# <div class="mt-6">
        <button type="submit" class="w-full p-3 bg-blue-500 text-white rounded-md hover:bg-blue-600">S'inscrire</button>
    </div> #}
        
    



{% endblock %}




