{% extends 'base.html.twig' %}

{% block body %}

<div class="justify-center">
    <h1 class="text-3xl text-center font-bold mt-10">Rencontres jouées</h1>
</div>

<div class="max-w-7xl mx-auto">

    {{ include('components/_flash_message.html.twig') }}

    <div class="max-w-7xl mx-auto mt-10 mb-10">

        <div class="max-w-7xl mx-auto mt-10 mb-10">
          {{ include("components/_flash_message.html.twig") }}
        </div>
      
        <div class="flex justify-between items-center w-full mt-5">
        
          {# <a href ="{{ path('app_matchs_add') }}" class="ml-5 mb-5 bg-white hover:bg-gray-100 text-gray-800 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
            + Match
          </a> #}

            <!-- Modal toggle -->
            <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="ml-5 block text-black bg-green-100 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
                Ajouter
            </button>
            
            <!-- Main modal -->
            <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-2xl max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <!-- Modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                                Enregistrer un match
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </button>
                        </div>
                        <!-- Modal body -->
                        
                            <div class="max-h-screen flex items-center justify-center bg-gray-100">
                                <div class="p-8 max-w-md w-full">

                                    {{ form_errors(matchForm) }}
                                    
                            
                                    {{ form_start(matchForm, {'attr': {'novalidate': 'novalidate'}}) }}
                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            {{ form_row(matchForm.competition, {
                                                'label': 'Compétition',
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Nom du tournoi',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                        <div>
                                            {{ form_row(matchForm.saison, {
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Saison',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                        <div>
                                            {{ form_row(matchForm.Adversaire, {
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Adversaire',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                        <div>
                                            {{ form_row(matchForm.classement, {
                                                'label': 'Classement',
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Classement',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 gap-4 mt-4">
                                        <div>
                                            {{ form_row(matchForm.Type, {
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Type de rencontre',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                        <div>
                                            {{ form_row(matchForm.resultat, {
                                                'label': 'Résultat',
                                                'attr': {
                                                    'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                    'placeholder': 'Résultat',
                                                },
                                                'label_attr': {
                                                    'class': 'block text-gray-700 text-sm font-bold mb-2'
                                                }
                                            }) }}
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        {{ form_row(matchForm.Score, {
                                            'attr': {
                                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                'placeholder': 'Score',
                                            },
                                            'label_attr': {
                                                'class': 'block text-gray-700 text-sm font-bold mb-2'
                                            }
                                        }) }}
                                    </div>
                                    <div class="mt-4">
                                        {{ form_row(matchForm.date, {
                                            'attr': {
                                                'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500',
                                                'placeholder': 'Date',
                                            },
                                            'label_attr': {
                                                'class': 'block text-gray-700 text-sm font-bold mb-2'
                                            }
                                        }) }}
                                    </div>
                                    
                                </div>
                            </div>
                            
                            <!-- Modal footer -->
                            {# <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button data-modal-hide="default-modal" type="button" class="text-black bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                            </div> #}
                            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                <button type="submit" class="text-black bg-green-100 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Enregistrer</button>
                            </div>
                            {{ form_end(matchForm) }}
                        </div>
                    </div>
                </div>
                        

                                <div class="w-40 mr-5 mb-5">
                                    {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
                                    <div>
                                        {{ form_widget(form.year, {
                                            'attr': {
                                                'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm',
                                                'onchange': 'this.form.submit();' 
                                            },
                                            'placeholder': 'Année'
                                        }) }}
                                        {{ form_errors(form.year, {'attr': {'class': 'text-red-600 text-sm'}}) }}
                                    </div>
                                
                                    {{ form_end(form) }}
                                </div>
                            </div>

        <div class="relative overflow-x-auto shadow rounded-lg mx-2 mt-5">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-green-700">
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Date</th>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900">Compétition</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Adversaire</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Classement</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Score</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Résultat</th>
                        <th scope="col" class="relative text-right py-3.5 pl-3 pr-4 sm:pr-6">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                    {% for rencontre in rencontres %}
                    
                    {% if rencontre.user == app.user %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-semibold text-gray-900 sm:pl-6">{{ rencontre.date|date("d/m/Y", "Europe/Paris") }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ rencontre.competition }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm">
                            {{ rencontre.adversaire }}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm">
                            {{ rencontre.classement }}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm">
                            {{ rencontre.score }}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-green-300 font-semibold {% if rencontre.resultat == 'Victoire' %}text-green-500{% elseif rencontre.resultat == 'Défaite' %}text-red-500{% endif %}">
                            {{ rencontre.resultat }}
                        </td>
                        <td class="py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                            <div class="inline-block text-left" x-data="{ menu: false }">
                                <button x-on:click="menu = ! menu" type="button" class="flex items-center text-gray-400 hover:text-gray-600 focus:outline-none" id="menu-button" aria-expanded="true" aria-haspopup="true">
                                    <span class="sr-only"></span>
                                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z" />
                                    </svg>
                                </button>
                                <div x-show="menu" x-on:click.away="menu = false" class="origin-top-right absolute right-32 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                                    <div class="" role="none">
                                        <a href="{{ path('app_matchs_edit', {'id':rencontre.id}) }}" class="text-gray-500 font-medium hover:text-gray-900 hover:bg-gray-50 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                                            Modifier
                                        </a>
                                    </div>
                                    <div class="" role="none">
                                        <a href={{ path('app_matchs_delete', {'id':rencontre.id}) }} class="text-gray-500 font-medium hover:text-gray-900 hover:bg-gray-50 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0" onclick="return confirm('Voulez-vous supprimer cet enregistrement ?');">
                                            Supprimer
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
</div>

<!-- Pagination -->
    <div class="navigation flex justify-center mt-5 mb-5">
        {{ knp_pagination_render(rencontres) }}
    </div>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
{% endblock %}

