{% extends 'base.html.twig' %} {% block body %}

<div class="justify-center">
  <h1 class="text-3xl text-center font-bold mt-10">Mes Compétitions</h1>
</div>

<div class="max-w-7xl mx-auto mt-10 mb-10">
  <div class="max-w-7xl mx-auto mt-10 mb-10">
    {{ include("components/_flash_message.html.twig") }}
  </div>

  <div class="flex justify-between items-center w-full mt-5">
  
    {# <a href ="{{ path('app_tournament_Form') }}" class=" ml-5 mb-5 bg-white hover:bg-gray-100 text-gray-800 px-3 py-2 border border-gray-300 rounded-md shadow-sm">
      + Compétition
    </a> #}

    <!-- Modal toggle -->
    <button data-modal-target="default-modal" data-modal-toggle="default-modal" class="ml-5 block text-black bg-green-100 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" type="button">
      Ajouter
  </button>
  
  <!-- Main modal -->
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-2xl max-h-full">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      Enregistrer une Compétition
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
                    <div class="bg-gray-100 max-h-screen flex items-center justify-center">
                      <div class="p-8 max-w-md w-full">
                          
                          {{ form_errors(tournamentForm) }}

                          {{ form_start(tournamentForm) }}
                          <div class="space-y-6">
                              <div>
                                  {{ form_row(tournamentForm.name, {
                                  'label': 'Nom',
                                  'attr': {
                                      'class': 'w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500',
                                      'placeholder': 'Nom du tournoi',
                                  },
                                  'label_attr': {
                                      'class': 'block text-gray-600 text-sm font-medium mb-1'
                                  }
                                  }) }}
                              </div>
                              
                              <div>
                                  {{ form_row(tournamentForm.date, {
                                  'attr': {
                                      'class': 'w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500',
                                      'placeholder': 'Date du tournoi',
                                  },
                                  'label_attr': {
                                      'class': 'block text-gray-600 text-sm font-medium mb-1'
                                  }
                                  }) }}
                              </div>

                              <div>
                                  {{ form_row(tournamentForm.type, {
                                  'attr': {
                                      'class': 'w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500',
                                      'placeholder': 'Type de tournoi',
                                  },
                                  'label_attr': {
                                      'class': 'block text-gray-600 text-sm font-medium mb-1'
                                  }
                                  }) }}
                              </div>

                              <div>
                                  {{ form_row(tournamentForm.saison, {
                                  'attr': {
                                      'class': 'w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500',
                                      'placeholder': 'Saison',
                                  },
                                  'label_attr': {
                                      'class': 'block text-gray-600 text-sm font-medium mb-1'
                                  }
                                  }) }}
                              </div>

                              <div>
                                  {{ form_row(tournamentForm.echeance, {
                                  'attr': {
                                      'class': 'w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500',
                                      'placeholder': 'Échéance',
                                  },
                                  'label_attr': {
                                      'class': 'block text-gray-600 text-sm font-medium mb-1'
                                  }
                                  }) }}
                              </div>
                          </div>
                          
                      </div>
                    </div>

                  <!-- Modal footer -->
                  <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                      <button type="submit" class="text-black bg-green-100 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Enregistrer</button>
                  </div>
                  {{ form_end(tournamentForm) }}
              </div>
          </div>
      </div>

    <div class="w-40 mr-5">
      {{ form_start(form, {'attr': {'class': 'space-y-4'}}) }}
      <div>
          {{ form_widget(form.year, {
              'attr': {
                  'class': 'block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm',
                  'onchange': 'this.form.submit();' 
              },
              'placeholder': 'Année'
          }) }}
          {{ form_errors(form.year, {'attr': {'class': 'text-red-600 text-sm'}}) }}
      </div>
  
      {{ form_end(form) }}
  </div>
</div>

  <div class="mt-5 grid grid-cols-1 md:grid-cols-3 gap-4 mb-2">
    {% for key in tournamentsList %}
    <div class="mx-auto">
      <div class="relative max-w-xs rounded-lg bg-white p-2 shadow duration-150 hover:scale-105 hover:shadow-md">
        <img
          class="w-full rounded-lg object-cover object-center"
          src="https://images.unsplash.com/photo-1567220720374-a67f33b2a6b9?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="product"/>

        <p class="absolute top-2 left-2 text-white text-sm bg-gray-700 bg-opacity-70 rounded-lg mt-2 ml-2 px-2">{{key.type}}</p>

        <a href="{{ path('app_tournament_delete', {'id':key.id}) }}" class="absolute top-2 right-2 text-xl cursor-pointer alert-del pr-2" onclick="return confirm('Voulez-vous supprimer cet enregistrement ?');">&times;</a>
        <p class="my-4 pl-4 font-bold text-white bg-gray-400">{{ key.name }}</p>

        {% if key.date > currentDate %}
        <p class="my-2 pl-4 font-bold text-green-600">A venir</p>
        {% elseif currentDate > key.echeance %}
        <p class="my-2 pl-4 font-bold text-red-600">Terminé</p>
        {% endif %}

        <p class="mb-4 ml-4 text-base text-gray-800">
          {{key.date|date("d/m/Y", "Europe/Paris")}} au
          {{key.echeance|date("d/m/Y", "Europe/Paris")}}
        </p>
      </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}


